#Default formats
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.tcp
*.tps
*.nav
*.snm
*.xdy

#Here are the formats specific to this project that should be ignored: generally input files.
*.dat
*.txt
*.fasta
*.pdb
.DS_Store

#Here are specific input folders that should be ignored
/input/*
/output/*
/Archive 2.zip
/Readme(old).md

*.csv
